<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="../static/js/Semantic-UI-2.4.1/dist/semantic.min.css">
</head>
<body>
    <div class="ui container" style="padding: 50px">
        <h2 class="ui dividing header">Button</h2>
        <button class="ui massive button">按钮</button>
        <button class="ui big button">按钮</button>
        <button class="ui large button">按钮</button>
        <button class="ui medium button">按钮</button>
        <button class="ui button">按钮</button>
        <button class="ui small button">按钮</button>
        <button class="ui tiny button">按钮</button>
        <button class="ui mini button">按钮</button>

        <div class="ui divider"></div>
        <div class="ui fluid button">加载更多...</div>
        <div class="ui divider"></div>
        <div class="ui primary button">primary</div>
        <div class="ui secondary button">secondary</div>
        <div class="ui positive button">确定</div>
        <div class="ui negative button">取消</div>

        <div class="ui divider"></div>
        <button class="ui animated button">
            <div class="hidden content">上一步</div>
            <div class="visible content"><i class="left arrow icon"></i></div>
        </button>
        <button class="ui animated button">
            <div class="hidden content">下一步</div>
            <div class="visible content">
                <i class="right arrow icon"></i>
            </div>
        </button>
        <button class="ui vertical animated button">
            <div class="hidden content">下一步</div>
            <div class="visible content">
                <i class="right arrow icon"></i>
            </div>
        </button>
        <button class="ui fade animated button">
            <div class="hidden content">下一步</div>
            <div class="visible content">
                <i class="right arrow icon"></i>
            </div>
        </button>
        <div class="ui divider"></div>

        <div class="ui icon button">
            <i class="cloud icon"></i>
        </div>
        <div class="ui icon circular button">
            <i class="cloud icon"></i>
        </div>
        <div class="ui icon labeled button">
            <i class="pause icon"></i>
            暂停
        </div>
        <div class="ui right labeled icon button">
            <i class="pause icon"></i>
            暂停
        </div>
        <div class="ui divider"></div>
        <div class="ui basic button">basic</div>
        <button class="ui red basic button">basic</button>

        <div class="ui inverted segment">
            <div class="ui basic button">basic</div>
            <button class="ui inverted red basic button">red</button>
        </div>

        <div class="ui divider"></div>
        <div class="ui buttons">
            <div class="ui button">HTML</div>
            <div class="ui button">CSS</div>
            <div class="ui button">JavaScript</div>
        </div>
        <div class="ui divider"></div>
        <div class="ui basic buttons">
            <div class="ui button">HTML</div>
            <div class="ui button">CSS</div>
            <div class="ui button">JavaScript</div>
        </div>
        <div class="ui divider"></div>
        <div class="ui three basic buttons">
            <div class="ui button">HTML</div>
            <div class="ui button">CSS</div>
            <div class="ui button">JavaScript</div>
        </div>
        <div class="ui divider"></div>
        <div class="ui vertical basic buttons">
            <div class="ui button">HTML</div>
            <div class="ui button">CSS</div>
            <div class="ui button">JavaScript</div>
        </div>

        <div class="ui divider"></div>

        <div class="ui vertical labeled icon buttons">
            <div class="ui button">
                <i class="pause icon"></i>
                暂停
            </div>
            <div class="ui button">
                <i class="play icon"></i>
                播放
            </div>
            <div class="ui button">
                <i class="shuffle icon"></i>
                随机
            </div>
        </div>

        <div class="ui divider"></div>
        <div class="ui icon input">
            <input type="text" placeholder="搜索...">
            <i class="search link icon"></i>
        </div>

    </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="../static/js/Semantic-UI-2.4.1/dist/semantic.min.js"></script>
</body>
</html>