<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/js/Semantic-UI-2.4.1/dist/semantic.min.css">
</head>
<body>
<div class="ui container" style="padding: 50px">
    <h2 class="ui dividing header">Card</h2>

    <div class="ui pink card">
        <div class="image">
            <img src="http://p3.qhimg.com/bdm/1024_768_85/t01db65c4075c033b04.jpg" alt="">
        </div>
        <div class="content">
            <a href="" class="header">蝴蝶</a>
            <div class="ui meta">
                <span>butterfly</span>
            </div>
            <div class="description">
                a butterfly ...
            </div>
        </div>
        <div class="extra content">
            <span class="left floated">
                <i class="like icon"></i>
                喜欢
            </span>
            <span class="right floated">
                <i class="user icon"></i>
                好友
            </span>
        </div>
    </div>

    <h2 class="ui dividing header">Comment</h2>
    <div class="ui comments">
        <div class="comment">
            <a href="" class="avatar">
                <img src="http://p3.qhimg.com/bdm/1024_768_85/t01db65c4075c033b04.jpg" alt="">
            </a>
            <div class="content">
                <a href="" class="author">butterfly</a>
                <div class="metadata">
                    1 分钟之前
                </div>
                <div class="text">
                    我喜欢学习Java！
                </div>
                <div class="actions">
                    <a href="">回复</a>
                </div>
            </div>
            <div class="ui threaded comments">
                <div class="comment">
                    <a href="" class="avatar">
                        <img src="http://p3.qhimg.com/bdm/1024_768_85/t01db65c4075c033b04.jpg" alt="">
                    </a>
                    <div class="content">
                        <a href="" class="author">butterfly</a>
                        <div class="metadata">
                            1 分钟之前
                        </div>
                        <div class="text">
                            我喜欢学习Java！
                        </div>
                        <div class="actions">
                            <a href="">回复</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/Semantic-UI-2.4.1/dist/semantic.min.js"></script>
</body>
</html>